@font-face {
  src: url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-family: "Mulish-Bold";
  font-style: bold;
  font-weight: normal;
}
@font-face {
  src: url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-family: "Mulish-Regular";
  font-style: normal;
  font-weight: normal;
}
.logo {
  width: 136px;
  height 26px;
}

@media (max-width: 768px) {
  .logo {
    position: absolute;
    right: 0;
  }
}
a {
  text-decoration: none;
  color: white;
}

.header {
  height: 681px;
  width: 100%;
  color: white;
  background-position: center;
  background-size: 150%;
  transition: 0.7s;
  opacity: 1;
}

.header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 36px;
  height: 56px;
}

.header__rectangle {
  width: 40px;
  height: 40px;
  background: #FDE5E6;
  border-radius: 50%;
}

.header__navbar {
  margin-left: 87px;
  height: auto;
}

.header__block-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
}

.header .container {
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1230px;
  margin: 0 auto;
  min-width: 0;
}

.header-slider {
  margin-top: 96px;
}

.header__company-name {
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 96px;
}

.header__btn-login {
  height: 48px;
  width: 158px;
  border: 0;
  border-radius: 8px;
  margin-left: 42px;
  background-color: #FA3C45;
}

.header__btn-login:hover {
  border: 2px solid #000000;
}

.header__btn {
  margin-top: 96px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}
.header__btn:hover {
  border: 1px solid black;
}
.header__btn__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  min-width: 0;
  padding-top: 95px;
}
.header__btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.005em;
}
.header__btn-container__elem1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 165px;
}
.header__btn-container__elem2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 290px;
  height: 210px;
}
.header__btn-container__elem2 ul {
  list-style-type: none;
  line-height: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.008em;
}
.header__btn-container__elem2 p {
  margin-bottom: 12px;
  letter-spacing: 0.005em;
}
.header__btn-container__elem3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
}
.header__btn-container__elem3-contacts {
  display: flex;
  flex-direction: row;
}
.header__btn-container__elem3-contacts p {
  margin-left: 10px;
}

.copy {
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

@media (max-width: 1300px) {
  .header__company-name {
    margin-top: 60px;
  }

  .header__btn {
    margin-top: 60px;
  }

  .header__block-user {
    display: none;
  }

  .header {
    height: 560px;
  }

  .header__navbar {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .header__company-name {
    margin-top: 30px;
  }

  .header__btn {
    margin-top: 30px;
  }

  .header {
    height: 500px;
  }
}
.navbar__menu ul li {
  display: inline;
}

.navbar__menu ul {
  list-style-type: none;
  font-size: 16px;
  line-height: 120%;
}

.navbar__menu li {
  padding-right: 32px;
}

.navbar__menu-list {
  position: relative;
  display: flex;
}

.navbar__menu-link img {
  padding-left: 10px;
}

.navbar__menu-list > li {
  margin: 0 10px 0 0;
}

.navbar__menu-list:hover .navbar__sub-menu-list {
  display: block;
}

.navbar__burger-list {
  position: relative;
}

.navbar__burger-list-items {
  list-style-type: none;
  position: absolute;
  left: 100%;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: #666666;
}

.navbar__burger-list:hover .navbar__burger-list-items {
  display: block;
}

.navbar__sub-menu-list {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
}

.navbar__burger-menu {
  display: none;
  font-size: 31px;
}

.navbar__burger-menu a:hover {
  text-decoration: none;
}

.navbar__menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 100%;
  cursor: pointer;
  z-index: 11;
}
.navbar__menu-btn > span, .navbar__menu-btn > span::before, .navbar__menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #d6d6d6;
  transition-duration: 0.25s;
}
.navbar__menu-btn > span::before {
  content: "";
  top: -8px;
}
.navbar__menu-btn > span::after {
  content: "";
  top: 8px;
}

.navbar__menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #535353;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.navbar__menubox > li {
  margin: 10px;
  padding: 10px;
}

.navbar__burger-list-items > li {
  margin: 10px;
  padding: 10px;
}

.navbar__menubox > li:hover {
  background-color: #C5010A;
}

.navbar__burger-list-items > li:hover {
  background-color: #C5010A;
}

.navbar__menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.navbar__menu-item:hover {
  background-color: #CFD8DC;
}

#navbar__menu-toggle {
  opacity: 0;
}
#navbar__menu-toggle:checked ~ .navbar__menu-btn > span {
  transform: rotate(45deg);
}
#navbar__menu-toggle:checked ~ .navbar__menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#navbar__menu-toggle:checked ~ .navbar__menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#navbar__menu-toggle:checked ~ .navbar__menubox {
  visibility: visible;
  left: 0;
}

@media (max-width: 1300px) {
  .navbar__menu li {
    padding-right: 20px;
  }
}
@media (max-width: 865px) {
  .navbar__menu li {
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__burger-menu {
    display: block;
  }
}
.swiper {
  width: 100%;
  height: 187px;
}
.swiper-slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 187px;
}
.swiper-slider__title {
  font-family: Mulish;
  font-style: normal;
  font-size: 62px;
  font-weight: bold;
  line-height: 120%;
}
.swiper-slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  width: 310px;
}
.swiper .red {
  color: #FA3C45;
}
.swiper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  height: 57px;
}

.swiper .swiper-pagination {
  bottom: 0;
}
.swiper .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  font-size: 14px;
  background-color: #fff;
  opacity: 1;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #FA3C45;
  opacity: 1;
}

.header-slider {
  margin-top: 96px;
}

.company-name {
  font-size: 24px;
  margin-bottom: 16px;
}

.swiper-button-prev {
  position: absolute;
  right: 80px;
  top: 13px;
  background-image: url(../img/collection/btn-left.svg);
  background-size: contain;
  border-radius: 25px;
  height: 48px;
  width: 48px;
  border: 0;
  transition: 0.3s linear;
}

.swiper-button-next {
  position: absolute;
  right: 0;
  top: 13px;
  background-image: url(../img/collection/btn-right.svg);
  background-size: contain;
  border-radius: 25px;
  height: 48px;
  width: 48px;
  border: 0;
  transition: 0.3s linear;
}

.swiper-button-next:hover {
  background-color: #d3d3d3;
}

.swiper-button-prev:hover {
  background-color: #d3d3d3;
}

.slider-btn {
  margin-top: 96px;
  background: #FA3C45;
  color: #FFF;
  width: 128px;
  height: 56px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
}
.slider-btn:hover {
  border: 1px solid black;
}

@media (max-width: 768px) {
  .swiper-slider__title {
    font-size: 45px;
  }

  .swiper-slider__slide {
    height: 147px;
  }
}
.headline {
  font-size: 48px;
  color: #11142D;
  font-family: "Mulish-Bold";
}

.headline--white {
  color: #fff;
}

@media (max-width: 768px) {
  .headline {
    font-size: 39px;
  }
}
.button {
  width: 128px;
  height: 56px;
  border: 0;
  border-radius: 8px;
  background-color: #FA3C45;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.button:hover {
  border: 2px solid #000000;
}

.select-car {
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: #fff;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
}
.select-car__select {
  border: 1px solid #9A9AB0;
  color: #11142D;
  border-radius: 8px;
  padding: 0 24px 0 24px;
  background-image: url(../img/select-car/arrow-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 50% right 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 464px;
  height: 56px;
  font-size: 24px;
}
@media (max-width: 1300px) {
  .select-car__select {
    width: 264px;
  }
}

@media (max-width: 768px) {
  .select-car {
    display: none;
  }
}
.collection {
  color: #FDE5E6;
}
.collection__headline {
  height: 130px;
  color: #11142D;
  position: relative;
  font-size: 62px;
  font-weight: bold;
  font-family: Mulish-Bold;
}
.collection__btn--left:hover, .collection__btn--right:hover {
  background-color: #bebebe;
}
.collection__models > div:hover {
  transition: 1s;
  filter: brightness(120%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.collection__models div:not(:first-child) .collection__img {
  width: 130%;
  height: 100%;
}
.collection__models {
  justify-content: center;
  display: grid;
  height: 816px;
  gap: 16px;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: minmax(400px, auto);
}
.collection__models > div {
  opacity: 1;
  transition: 0.5s;
  background-position: center;
}
.collection__item {
  margin-top: 188px;
  width: 250px;
}
.collection__name-model {
  font-size: 48px;
  color: white;
}
.collection__name-feature {
  margin-top: 32px;
  list-style: none;
}
.collection__name-feature li {
  display: inline;
}
.collection__name-feature li:not(:first-child) {
  margin-left: 24px;
}
.collection__arrow-right {
  margin-top: 28px;
}
.collection__model-1 {
  padding-left: 40px;
  grid-area: 1/1/2/3;
  background-size: 100%;
  position: relative;
}
.collection__model-2 {
  grid-area: 1/3/2/4;
}
.collection__model-3 {
  grid-area: 2/1/3/2;
}
.collection__model-4 {
  grid-area: 2/2/3/3;
}
.collection__model-5 {
  grid-area: 2/3/3/4;
}

.collection__item {
  width: 100%;
}

.collection__models > div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection__img--back {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: -1000;
}

@media (max-width: 1300px) {
  .swiper-slide > .collection__model-5 {
    display: none;
  }

  .swiper-slide > .collection__model-2 {
    display: none;
  }

  .collection__models {
    grid-template-columns: 400px 400px;
  }
}
@media (max-width: 768px) {
  .swiper-slide > .collection__model-4 {
    display: none;
  }

  .swiper-slide > .collection__model-3 {
    display: none;
  }

  .collection__headline {
    font-size: 42px;
    height: 100px;
  }

  .collection__models {
    height: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
  }
}
@media (max-width: 547px) {
  .collection__models {
    grid-template-columns: 400px;
  }

  .collection__headline {
    font-size: 32px;
  }
}
.experience {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 544px;
  grid-column-gap: 56px;
  justify-content: center;
  text-align: center;
}
.experience__headline {
  margin-top: 63px;
}
.experience__text {
  margin-top: 32px;
}
.experience__foto {
  width: 100%;
  height: 100%;
}
.experience__data {
  margin-top: 64px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 88px;
}
.experience__value {
  display: inline-block;
  margin-top: 32px;
  font-family: Mulish-Bold;
  font-weight: bold;
  font-size: 48px;
}
.experience--red {
  color: #FA3C45;
}
.experience__name {
  display: inline-block;
  margin-top: 16px;
}

@media (max-width: 1300px) {
  .experience {
    margin-top: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70%;
    gap: 16px;
  }
  .experience__value {
    font-size: 40px;
  }
  .experience__headline {
    margin-top: 30px;
    font-size: 36px;
  }
  .experience__data {
    margin-top: 10px;
    grid-column-gap: 20px;
  }
}
@media (max-width: 768px) {
  .experience__foto {
    display: none;
  }

  .experience {
    grid-template-columns: fit-content(500px);
    height: auto;
  }
}
.why-choose-us {
  width: 100%;
  background-color: #C5010A;
  margin-top: 200px;
}
.why-choose-us__content {
  justify-content: center;
  height: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 134px 0 134px 0;
  color: #fff;
  max-width: 1230px;
  margin: 0 auto;
}
.why-choose-us__list {
  margin-top: 72px;
}
.why-choose-us__item {
  margin-top: 32px;
  width: 430px;
}
.why-choose-us ul {
  margin-top: 72px;
  width: 472px;
}
.why-choose-us ul li {
  padding-left: 72px;
  list-style: none;
  background: url(../img/why-choose-us/marker.svg) no-repeat;
}
.why-choose-us li:not(:first-child) {
  margin-top: 23px;
}
.why-choose-us li p:first-child {
  font-size: 24px;
}
.why-choose-us li p:nth-child(2) {
  margin-top: 16px;
}
.why-choose-us__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .why-choose-us {
    margin-top: 100px;
  }
  .why-choose-us__img {
    display: none;
  }
  .why-choose-us__content {
    grid-template-columns: 400px;
    padding: 0;
    align-items: center;
    height: 700px;
  }
}
.top-brands {
  background-color: #fff;
  width: 100%;
}
.top-brands__container {
  height: 300px;
  text-align: center;
  max-width: 1230px;
  margin: 0 auto;
}
.top-brands__headline {
  font-size: 24px;
  color: #11142D;
  padding-top: 64px;
}
.top-brands__brands {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  height: 64px;
}

@media (max-width: 768px) {
  .top-brands {
    display: none;
  }
}
.new-items {
  margin-top: 200px;
}
.new-items__container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 406px 406px;
  gap: 16px;
}
.new-items__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 23px;
  background: gray;
  border-radius: 6px;
}
.new-items .new-items__container > div {
  background-position: center;
  background-size: 130%;
}
.new-items__card-1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-image: url(../img/detail/models.jpg);
}
.new-items__card-2 {
  background-image: url(../img/detail/modelx1.jpg);
}
.new-items__card-3 {
  background-image: url(../img/detail/model3.jpg);
}
.new-items__card-4 {
  background-image: url(../img/detail/cyber1.jpg);
}
.new-items__card-5 {
  background-image: url(../img/detail/modelh.jpeg);
}
.new-items__elem1 {
  color: #FA3C45;
  background: white;
  border-radius: 6px;
  padding: 3px 6px 2px 7px;
  width: 48px;
  height: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
}
.new-items__elem2 {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: space-between;
  height: 93px;
}

.new-items h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.new-items h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin: 0px 0px 55px 0px;
}

.new-items .red {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FA3C45;
}

@media (max-width: 1300px) {
  .new-items__card-3, .new-items__card-5 {
    display: none;
  }

  .new-items__container {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 768px) {
  .new-items__container {
    grid-template-columns: 1fr;
    grid-template-row: 300px 300px;
  }

  .new-items__card-2 {
    display: none;
  }

  .new-items__card-1 {
    grid-area: auto;
  }
}
.what-are-people {
  margin-top: 200px;
  text-align: center;
  max-width: 1230px;
}
.what-are-people__text {
  margin-top: 32px;
}
.what-are-people__block {
  align-items: center;
  margin-top: 56px;
  display: grid;
  grid-template-columns: 520px 1fr;
  background-color: #fff;
}
.what-are-people__description {
  padding: 88px 83px 91px;
}
.what-are-people__headline-item {
  font-size: 31px;
  font-family: "Mulish-Bold";
  color: #11142D;
  text-align: center;
}
.what-are-people__item-1 {
  margin-top: 40px;
  color: #FA3C45;
}
.what-are-people__item-2 {
  margin-top: 8px;
}

.about__img {
  width: 100%;
}

.famous__review {
  display: flex;
  margin-top: 56px;
}

@media (max-width: 1300px) {
  .what-are-people__block {
    grid-template-columns: 1fr 1fr;
  }

  .what-are-people__headlines {
    font-size: 36px;
  }

  .what-are-people__description {
    margin-top: 0px;
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .what-are-people__block {
    grid-template-columns: 1fr;
  }

  .about__img {
    display: none;
  }
}
.download {
  background: #fff;
  width: 100%;
  height: 720px;
  margin-top: 200px;
}
.download__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 120px;
  max-width: 1230px;
  margin: 0 auto;
}
.download__Headline {
  margin-top: 147px;
  font-style: bold;
}
.download__text {
  width: 530px;
}
.download__img-phone {
  position: relative;
  height: 100%;
}
.download__img-phone img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
}
.download__list {
  margin-top: 58px;
  color: #11142D;
  list-style-type: none;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0.005em;
}
.download img {
  margin: 0 18px 0 0;
}
.download ul li {
  list-style: none;
  padding-left: 26px;
  background: url(../img/download/checkmark.svg) no-repeat;
}
.download__list li:not(:first-child) {
  margin-top: 21px;
}
.download__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 430px;
  padding: 43px 0 77px 0;
}

@media (max-width: 1300px) {
  .download {
    margin-top: 100px;
    height: 500px;
  }
  .download__text-item {
    width: 360px;
  }
  .download__content {
    max-width: 816px;
    grid-template-columns: 400px 400px;
    gap: 16px;
    justify-content: center;
  }
  .download__Headline {
    margin-top: 0px;
    font-size: 40px;
  }
  .download__img-phone {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .download__Headline {
    margin-top: 20px;
  }

  .download__content {
    max-width: 816px;
    grid-template-columns: 500px;
    text-align: center;
  }

  .download__link {
    justify-content: center;
    width: 100%;
    padding-top: 20px;
  }

  .download__list {
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    text-align: left;
    font-size: 20px;
  }

  .download__img-phone {
    display: none;
  }

  .download__text {
    width: auto;
  }

  .download__text-item {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}
.subscribe {
  height: 480px;
  text-align: center;
}
.subscribe__headline {
  margin-top: 125px;
}
.subscribe__text {
  margin-top: 24px;
}
.subscribe__form {
  display: grid;
  justify-content: center;
  grid-template-columns: 296px 296px auto;
  grid-column-gap: 16px;
  align-items: end;
  margin-top: 56px;
  text-align: left;
}
.subscribe__input {
  width: 100%;
  height: 56px;
  padding-left: 16px;
}
.subscribe .subscribe__form-item {
  width: 296px;
}
.subscribe__input-name {
  color: #11142D;
}

@media (max-width: 768px) {
  .subscribe__headline {
    margin-top: 50px;
  }

  .subscribe__form {
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-row: 1fr 1fr 1fr;
    margin-top: 35px;
  }

  .subscribe__form * {
    margin: 0 auto;
  }
}
.footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: #C5010A;
  height: 407px;
  color: white;
}
.footer__wrapper {
  max-width: 1330px;
  margin: 0 auto;
  min-width: 0;
  padding-top: 95px;
  padding-left: 50px;
  padding-right: 50px;
}
.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-bottom: 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.005em;
}
.footer-container__elem1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 165px;
}
.footer-container__logo {
  width: 136px;
}
.footer-container__elem2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 290px;
  height: 210px;
}
.footer-container__elem2 ul {
  list-style-type: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.008em;
}
.footer-container__elem2 ul li {
  margin-top: 20px;
}
.footer-container__elem2 ul li:first-child {
  margin-top: 29px;
}
.footer-container__elem2 p {
  margin-bottom: 12px;
  letter-spacing: 0.005em;
}
.footer-container__elem3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 105px;
}
.footer-container__elem3-contacts {
  display: flex;
  flex-direction: row;
}
.footer-container__elem3-contacts p {
  margin-left: 10px;
}

@media (max-width: 1300px) {
  .footer__wrapper {
    max-width: 856px;
  }

  .footer-container__elem2 {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding-top: 50px;
  }

  .footer {
    height: auto;
  }

  .footer-container__elem1-text {
    margin-left: 30px;
  }

  .footer-container__elem1 {
    grid-area: 1/1/2/3;
    flex-direction: row;
    width: 100%;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    justify-content: center;
  }
}
a {
  text-decoration: none;
  color: white;
}

.header-second {
  background-color: #C5010A;
  height: 387px;
  width: 100%;
  color: white;
}

.header-second__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1230px;
  margin: 0 auto;
  min-width: 0;
}

.header-second__title {
  width: 100%;
  margin-top: 123px;
  text-align: center;
  font-weight: bold;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 0.003em;
}

.contents {
  background-color: #F7F7FC;
  height: 100%;
  width: 100%;
  color: white;
}

.contents__wrapper {
  max-width: 1230px;
  margin: 0 auto;
  min-width: 0;
}

.contents__breadcrumbs {
  color: #000;
  margin-top: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.contents__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 56px;
  width: 70%;
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin-bottom: 56px;
}

.contents__title--red {
  color: #FA3C45;
}

.contents__container {
  display: grid;
  grid-template-rows: 806px 156px 440px 333px 245px;
  gap: 56px;
}

.contents__placeholder > div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents__placeholder img {
  width: 110%;
  height: 110% 5;
}

.contents__placeholder {
  display: grid;
  grid-template-columns: repeat 5, 1fr;
  grid-template-rows: 556px 240px;
  gap: 8px;
}
.contents__placeholder--card {
  background-color: #E2E2EA;
  border-radius: 8px;
}
.contents__placeholder--card-1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.contents__desciption {
  display: grid;
  grid-template-rows: 37px 95px;
  gap: 24px;
}
.contents__desciption--title {
  color: #333333;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
}
.contents__desciption--text {
  color: #92929D;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.contents__video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  background-color: #e2e2ea;
  border-radius: 8px;
}

.specification__title {
  color: #333333;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}

.specification__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  column-gap: 56px;
}

.specification__elem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  letter-spacing: 0.005em;
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
}

.noneborder {
  border-bottom: none;
}

.specification__elem1 {
  padding-left: 16px;
  color: #92929D;
}

.specification__elem2 {
  flex-grow: 1;
  color: black;
}

.specification__rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #FA3C45;
  border-radius: 28px;
}

.feature__title {
  font-weight: bold;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #333333;
  margin-bottom: 40px;
}

.feature__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 24px;
}

.feature__elem {
  display: flex;
  flex-direction: row;
}

.feature__rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #FA3C45;
  border-radius: 4px;
  margin-right: 24px;
}

.feature__elem1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #92929D;
}

.recommendation {
  margin-top: 200px;
}
.recommendation__container {
  display: grid;
  grid-template-columns: repeat(4, 296px);
  grid-template-rows: repeat(2, 406px);
  gap: 16px;
}
.recommendation__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 23px;
  background-size: 100% 100%;
  border-radius: 6px;
}
.recommendation__card-1 {
  background-image: url(../img/detail/models.jpg);
}
.recommendation__card-2 {
  background-image: url(../img/detail/modelx1.jpg);
}
.recommendation__card-3 {
  background-image: url(../img/detail/model3.jpg);
}
.recommendation__card-4 {
  background-image: url(../img/detail/cyber1.jpg);
}
.recommendation__card-5 {
  background-image: url(../img/detail/modelh.jpeg);
}
.recommendation__card-6 {
  background-image: url(../img/detail/roadster4.jpg);
}
.recommendation__card-7 {
  background-image: url(../img/detail/roadster1.jpg);
}
.recommendation__card-8 {
  background-image: url(../img/detail/roadster2.jpg);
}
.recommendation__elem1 {
  color: #FA3C45;
  background: white;
  border-radius: 6px;
  padding: 3px 6px 2px 7px;
  width: 48px;
  height: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
}
.recommendation__elem2 {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: space-between;
  height: 93px;
}

.recommendation h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.recommendation__title {
  color: black;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin-bottom: 55px;
}

.recommendation__elem2--red {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FA3C45;
}

@media (max-width: 1200px) {
  .recommendation__container {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    grid-template-rows: repeat(4, 406px);
    gap: 16px;
  }
}
.aside {
  padding-left: 16px;
  width: 30%;
  float: right;
}

@media (max-width: 1200px) {
  .aside {
    display: none;
  }

  .contents__title {
    width: 100%;
  }
}
.aside__promocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 560px;
  color: #FFFFFF;
  background-color: #C5010A;
  border-radius: 8px;
  margin-bottom: 16px;
}
.aside__promocard-title {
  width: 263px;
  font-weight: bold;
  font-size: 39px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  margin-bottom: 24px;
}
.aside__promocard-off {
  width: 226px;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}
.aside__promocard-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  background-color: #C5010A;
  padding: 10px 24px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
}
.aside__promocard-btn:hover {
  border: 1px solid #C5010A;
}

.aside__contact {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 560px;
  color: #11142D;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 16px;
}
.aside__contact-title {
  font-weight: bold;
  font-size: 39px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142d;
  padding: 48px 0 32px 44px;
}
.aside__contact-btn {
  width: 168px;
  height: 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  background-color: #FA3C45;
  border: none;
  border-radius: 8px;
}
.aside__contact-btn:hover {
  border: 2px solid #000000;
}

.aside__contact-container {
  margin: 0 auto;
}

.aside__contact-form {
  margin-bottom: 16px;
}

.aside__contact-input {
  width: 296px;
  height: 56px;
  margin-bottom: 24px;
  padding-left: 13px;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #9A9AB0;
  border: 1px solid #FA3C45;
  border-radius: 8px;
}

.aside__contact-input--message {
  height: 120px;
}

.aside__customer {
  background-color: #FFFFFF;
  color: black;
  width: 400px;
  height: 364px;
  margin-bottom: 16px;
  border-radius: 8px;
}
.aside__customer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  padding: 48px 0 0 48px;
  margin-bottom: 48px;
}
.aside__customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 192px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
}
.aside__customer-avatar {
  width: 80px;
  height: 80px;
  background-color: #E2E2EA;
  border-radius: 50%;
}
.aside__customer-btn {
  width: 141px;
  height: 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  background: #FA3C45;
  border: none;
  border-radius: 8px;
}
.aside__customer-btn:hover {
  border: 2px solid #000000;
}

.aside__featured {
  width: 400px;
  height: 448px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  border-radius: 8px;
}
.aside__featured-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: black;
  padding: 48px 0 0 48px;
  margin-bottom: 40px;
}

.aside__featured-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  height: 272px;
  padding-left: 48px;
}

.aside__featured-elem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aside__featured-elem2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 56px;
  padding-left: 24px;
}

.aside__featured-img {
  height: 80px;
  width: 80px;
  border-radius: 8px;
}
.aside__featured-img > img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.aside__featured-name {
  color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
}

.aside__featured-price {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FA3C45;
}

.aside__tags {
  width: 400px;
  height: 320px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.aside__tags-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: black;
  padding: 48px 0 0 48px;
  margin-bottom: 40px;
}
.aside__tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  padding-left: 48px;
}
.aside__tags-elem {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FA3C45;
  height: 35px;
  border: 1px solid #FA3C45;
  border-radius: 24px;
  padding: 8px 24px;
  margin-right: 16px;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #c5c5c54f;
  transition: 0.8s;
}
.modal__content {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.modal::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1300px) {
  .modal__content {
    width: 650px;
    height: 500px;
  }
}
@media (max-width: 756px) {
  .modal__content {
    width: 500px;
    height: 350px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Mulish-Regular";
  font-style: regular;
  font-size: 16px;
  color: #92929D;
  background-color: #F7F7FC;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin-top: 200px;
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  .container {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 856px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 50px;
  }
}
@media (max-width: 547px) {
  .container {
    width: 547px;
  }
}

/*# sourceMappingURL=style.css.map */
