.contents
    background-color: #F7F7FC
    height: 100%
    width: 100%
    color: white

.contents__wrapper
    max-width: 1230px
    margin: 0 auto
    min-width: 0

.contents__breadcrumbs
    color: #000
    margin-top: 80px
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 120%
    letter-spacing: 0.005em

.contents__title
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-top: 56px
    width: 70%
    color: #000
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 120%
    letter-spacing: 0.005em
    margin-bottom: 56px

.contents__title--red
    color: #FA3C45

.contents__container
    display: grid
    grid-template-rows: 806px 156px 440px 333px 245px
    gap: 56px

.contents__placeholder > div
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.contents__placeholder img
    width: 110%
    height: 110%5

.contents__placeholder
    display: grid
    grid-template-columns: repeat (5, 1fr)
    grid-template-rows: 556px 240px
    gap: 8px
    

    &--card
        background-color: #E2E2EA
        border-radius: 8px

    &--card-1
        grid-row-start: 1
        grid-row-end: 2
        grid-column-start: 1
        grid-column-end: 4

.contents__desciption
    display: grid
    grid-template-rows: 37px 95px
    gap: 24px

    &--title
        color: #333333
        font-style: normal
        font-weight: bold
        font-size: 31px
        line-height: 120%
        letter-spacing: 0.005em

    &--text
        color: #92929D
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 120%
        letter-spacing: 0.005em

.contents__video
    display: flex
    justify-content: center
    align-items: center
    height: 440px
    background-color: #e2e2ea
    border-radius: 8px

.specification
    &__title
        color: #333333
        font-style: normal
        font-weight: bold
        font-size: 31px
        line-height: 120%
        letter-spacing: 0.005em
        margin-bottom: 40px

.specification__container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(4, 1fr)
    gap: 16px
    column-gap: 56px

.specification__elem
    display: flex
    flex-direction: row
    align-items: center
    font-weight: bold
    font-size: 16px
    line-height: 120%
    text-align: right
    letter-spacing: 0.005em
    padding-bottom: 16px
    border-bottom: 1px solid #E1E1E1

.noneborder
    border-bottom: none

.specification__elem1
    padding-left: 16px 
    color: #92929D

.specification__elem2
    flex-grow: 1
    color: black

.specification__rectangle
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: #FA3C45
    border-radius: 28px

.feature__title
    font-weight: bold
    font-size: 31px
    line-height: 120%
    letter-spacing: 0.005em
    color: #333333
    margin-bottom: 40px

.feature__container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(4, 1fr)
    gap: 24px
    
.feature__elem
    display: flex
    flex-direction: row

.feature__rectangle
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 24px
    height: 24px
    background-color: #FA3C45
    border-radius: 4px
    margin-right: 24px

.feature__elem1
    font-weight: bold
    font-size: 16px
    line-height: 120%
    letter-spacing: 0.005em
    color: #92929D
    

