.experience
    margin-top: $marginTopMediaLarge
    display: grid
    grid-template-columns: 1fr 1fr
    height: 544px
    grid-column-gap: 56px
    justify-content: center
    text-align: center

    &__headline
        margin-top: 63px

    &__text
        margin-top: 32px

    &__foto
        width: 100%
        height: 100%

    &__data
        margin-top: 64px
        display: grid
        grid-template-columns: auto auto auto
        grid-column-gap: 88px

    &__value
        display: inline-block
        margin-top: 32px
        font:
            family: Mulish-Bold
            weight: bold
            size: 48px

    &--red
        color: #FA3C45

    &__name
        display: inline-block
        margin-top: 16px

@media (max-width: 1300px)
    .experience
        margin-top: $marginTopMediaMiddle
        grid-template-columns: 1fr 1fr
        grid-template-rows: 70%
        gap: 16px

        &__value
            font-size: 40px

        &__headline
            margin-top: 30px
            font-size: 36px

        &__data
            margin-top: 10px
            grid-column-gap: 20px

@media (max-width: 768px)
    .experience__foto
        display: none

    .experience
        grid-template-columns: fit-content(500px)
        height: auto
