.subscribe
    height: 480px
    text-align: center

    &__headline
        margin-top: 125px

    &__text
        margin-top: 24px

    &__form
        display: grid
        justify-content: center
        grid-template-columns: 296px 296px auto
        grid-column-gap: 16px
        align-items: end
        margin-top: 56px
        text-align: left

    &__input
        width: 100%
        height: 56px
        padding-left: 16px

    .subscribe__form-item
        width: 296px
    
    &__input-name
        color: $titleColor

@media (max-width: 768px)
    .subscribe__headline
        margin-top: 50px

    .subscribe__form
        grid-row-gap: 16px
        grid-template-columns: 1fr
        grid-template-row: 1fr 1fr 1fr
        margin-top: 35px

    .subscribe__form *
        margin: 0 auto

