.swiper
    width: 100%
    height: 187px

    &-slider__slide
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 187px

    &-slider__title
        font-family: Mulish
        font-style: normal
        font-size: 62px
        font-weight: bold
        line-height: 120%

    &-slider__list
        display: flex
        flex-direction: row
        justify-content: space-between
        list-style-type: none
        font-weight: bold
        font-size: 16px
        line-height: 120%
        width: 310px


    & .red
        color: #FA3C45


    & ul
        display: flex
        flex-direction: column
        justify-content: space-between
        list-style-type: none
        height: 57px

.swiper .swiper-pagination
    bottom: 0


    &-bullet
        width: 16px
        height: 16px
        font-size: 14px
        background-color: #fff
        opacity: 1


    &-bullet-active
        background-color: #FA3C45
        opacity: 1

.header-slider
    margin-top: 96px

.company-name
    font-size: 24px
    margin-bottom: 16px

.slider-btn
    margin-top: 96px
    background: #FA3C45
    color: #FFF
    width: 128px
    height: 56px
    border: none
    border-radius: 8px
    font-weight: bold
    font-size: 16px

    &:hover
        border: 1px solid black
